<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [2]:
import pandas as pd
import psycopg2

In [3]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python
DBNAME = 
USER = 
PASSWORD = 
HOST = 
PORT =

In [4]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [5]:
# текст запроса
query_3_1 = f'''SELECT COUNT (*)
                FROM public.vacancies
            '''

In [6]:
# результат запроса
df = pd.read_sql_query(query_3_1, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1114379196.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [7]:
# текст запроса
query_3_2 = f'''SELECT COUNT (*)
                FROM public.employers
            '''

In [8]:
# результат запроса
df = pd.read_sql_query(query_3_2, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\3062646138.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2, connection)

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [9]:
# текст запроса
query_3_3 = f'''SELECT COUNT (*)
                FROM public.areas
            '''

In [10]:
# результат запроса
df = pd.read_sql_query(query_3_3, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\928149064.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3, connection)

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [11]:
# текст запроса
query_3_4 = f'''SELECT COUNT (*)
                FROM public.industries
            '''

In [12]:
# результат запроса
df = pd.read_sql_query(query_3_4, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\2101691108.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4, connection)

   count
0    294

***

In [13]:
# выводы по предварительному анализу данных
# В БД в почти трех сотнях сферах деятельности, размещены тысячи вакансий и работодателей, которые представлены в большом географическом ассортименте

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [14]:
# текст запроса
query_4_1 = f'''SELECT a.name, COUNT(v.id) cnt
                FROM public.vacancies v
                LEFT JOIN public.areas a ON v.area_id = a.id
                GROUP BY a.name
                ORDER BY cnt DESC
            '''

In [15]:
# результат запроса
df_areas= pd.read_sql_query(query_4_1, connection)
df_areas

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\3187652903.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_areas= pd.read_sql_query(query_4_1, connection)

                name   cnt
0             Москва  5333
1    Санкт-Петербург  2851
2              Минск  2112
3        Новосибирск  2006
4             Алматы  1892
..               ...   ...
764       Тарко-Сале     1
765    Новоаннинский     1
766            Бирск     1
767           Сасово     1
768             Анна     1

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [16]:
# текст запроса
query_4_2 = f'''SELECT COUNT (v.id)
                FROM public.vacancies v
                WHERE (salary_from IS NOT NULL) OR (salary_to IS NOT NULL)
            '''

In [17]:
# результат запроса
df= pd.read_sql_query(query_4_2, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1634593333.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_4_2, connection)

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [18]:
# текст запроса
query_4_3 = f'''SELECT AVG(v.salary_from), AVG(v.salary_to)
                FROM public.vacancies v
            '''

In [19]:
# результат запроса
df= pd.read_sql_query(query_4_3, connection).round()
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1864561801.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_4_3, connection).round()

       avg       avg
0  71065.0  110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [20]:
# текст запроса
query_4_4 = f'''SELECT COUNT(v.schedule), v.schedule, v.employment
                FROM public.vacancies v
                GROUP BY v.schedule, v.employment
                ORDER BY 1 DESC
                
            '''

In [21]:
# результат запроса
df_4_4= pd.read_sql_query(query_4_4, connection)
df_4_4

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1930163679.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_4= pd.read_sql_query(query_4_4, connection)

    count          schedule           employment
0   35367       Полный день     Полная занятость
1    7802  Удаленная работа     Полная занятость
2    1593     Гибкий график     Полная занятость
3    1312  Удаленная работа  Частичная занятость
4     940    Сменный график     Полная занятость
5     569       Полный день           Стажировка
6     367    Вахтовый метод     Полная занятость
7     347       Полный день  Частичная занятость
8     312     Гибкий график  Частичная занятость
9     141       Полный день     Проектная работа
10    133  Удаленная работа     Проектная работа
11    116     Гибкий график           Стажировка
12    101    Сменный график  Частичная занятость
13     64  Удаленная работа           Стажировка
14     18     Гибкий график     Проектная работа
15     12    Сменный график           Стажировка
16      2    Вахтовый метод     Проектная работа
17      1    Сменный график     Проектная работа

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [22]:
# текст запроса
query_4_5 = f'''SELECT COUNT(v.experience), v.experience
                FROM public.vacancies v
                GROUP BY v.experience
                ORDER BY 1
            '''

In [23]:
# результат запроса
df_exp= pd.read_sql_query(query_4_5, connection)
df_exp

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\908161851.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_exp= pd.read_sql_query(query_4_5, connection)

   count          experience
0   1337         Более 6 лет
1   7197           Нет опыта
2  14511       От 3 до 6 лет
3  26152  От 1 года до 3 лет

***

In [24]:
# выводы по детальному анализу вакансий
# 1. Наибольшее количество вакансий в городах с населением более миллиона человек
# 2. Только в половине вакансий указан нижний, либо верхний порог ЗП. 
# 3. В основном, работодатели ищют сотрудников на полный день с полной занятостью.
# 4. Работодатели охотнее ищут работников с небольшим опытом (от года до трех), чем более опытных (от 3 до 6 лет)

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [25]:
# текст запроса
query_5_1 = f'''SELECT COUNT(v.employer_id), e.name
                FROM public.vacancies v
                JOIN public.employers e ON v.employer_id = e.id
                GROUP BY v.employer_id,e.name
                ORDER BY 1 desc
                
            '''

In [26]:
# результат запроса
df= pd.read_sql_query(query_5_1, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\890685293.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_1, connection)

       count                            name
0       1933                          Яндекс
1        491                      Ростелеком
2        444                        Тинькофф
3        428                            СБЕР
4        331                   Газпром нефть
...      ...                             ...
14901      1         Торговый Дом Петровский
14902      1                      А2 Юнайтед
14903      1                    ТСЦ Дровосек
14904      1                  ПАВЛОДАРЭНЕРГО
14905      1  ЧЕТЫРЕ ЛАПЫ, Сеть зоомагазинов

[14906 rows x 2 columns]

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [27]:
# текст запроса
query_5_2 = f'''SELECT a.name, COUNT(DISTINCT e.id) emp, COUNT(DISTINCT v.id)
                FROM public.areas a
                LEFT JOIN public.employers e ON e.area = a.id
                LEFT JOIN public.vacancies v ON v.area_id = e.area
                WHERE v.id IS NULL
                GROUP BY a.name
                ORDER BY 2 DESC
            '''

In [28]:
# результат запроса
df= pd.read_sql_query(query_5_2, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1336044858.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_2, connection)

                      name  emp  count
0                   Россия  410      0
1                Казахстан  207      0
2       Московская область   75      0
3       Краснодарский край   19      0
4                 Беларусь   18      0
..                     ...  ...    ...
889                Жабинка    0      0
890  Железногорск-Илимский    0      0
891                Жетысай    0      0
892               Жигалово    0      0
893               Жирновск    0      0

[894 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [29]:
# текст запроса
query_5_3 = f'''SELECT e.name, COUNT(DISTINCT v.area_id) areas
                FROM public.vacancies v
                JOIN public.employers e ON e.id = v.employer_id
                GROUP BY e.name
                ORDER BY 2 DESC
            '''

In [30]:
# результат запроса
df= pd.read_sql_query(query_5_3, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\4078108864.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_3, connection)

                         name  areas
0                      Яндекс    181
1                  Ростелеком    152
2                  Спецремонт    116
3      Поляков Денис Иванович     88
4                   ООО ЕФИН      71
...                       ...    ...
14761                  UniSol      1
14762            UNISTORY LLC      1
14763                   UNIT6      1
14764     United Distribution      1
14765              UNITEL LLC      1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [31]:
# текст запроса
query_5_4 = f'''SELECT COUNT(e.id)
                FROM public.employers e
                LEFT JOIN public.employers_industries ei ON ei.employer_id = e.id
                WHERE ei.industry_id IS NULL
            '''

In [32]:
# результат запроса
df= pd.read_sql_query(query_5_4, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\766138764.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_4, connection)

   count
0   8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [33]:
# текст запроса
query_5_5 = f'''SELECT e.name
                FROM public.employers e
                JOIN public.employers_industries ei ON e.id = ei.employer_id
                GROUP BY e.name
                HAVING COUNT(e.id) = 4
                ORDER BY 1
                OFFSET 2 LIMIT 1
            '''

In [34]:
# результат запроса
df= pd.read_sql_query(query_5_5, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1567962503.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_5, connection)

   name
0  2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [35]:
# текст запроса
query_5_6 = f'''SELECT COUNT(ei.employer_id)
                FROM public.employers_industries ei
                JOIN public.industries i ON i.id = ei.industry_id
                WHERE i.name = 'Разработка программного обеспечения'
            '''

In [36]:
# результат запроса
df= pd.read_sql_query(query_5_6, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\3703259583.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_5_6, connection)

   count
0   3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [37]:
# код для получения списка городов-милионников
import urllib.parse as req

path_common = req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России#Список_городов-миллионеров')
url = path_common.scheme + '://' + req.quote(path_common.netloc) +  req.quote(path_common.path) + '#'+ req.quote(path_common.fragment)
cities_df = pd.read_html(url)[1]
cities = tuple(cities_df['Город'].tolist())
cities

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Нижний Новгород',
 'Красноярск',
 'Челябинск',
 'Самара',
 'Уфа',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [38]:
# текст запроса
query_5_7 = f'''with x as (
                select a.name as region, count(*) as vacancies_count
                from vacancies as v
                join employers as e on v.employer_id = e.id
                join areas as a on v.area_id = a.id
                where e.name = 'Яндекс' AND a.name in {cities}
                group by a.name
                )
                select *
                from x

                union all
    
                select 'Total', sum(x.vacancies_count)
                from x
                order by 2 
            '''

In [39]:
# результат запроса
df = pd.read_sql_query(query_5_7, connection)
df

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1965596796.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_7, connection)

             region  vacancies_count
0              Омск             21.0
1         Челябинск             22.0
2        Красноярск             23.0
3         Волгоград             24.0
4             Пермь             25.0
5            Казань             25.0
6    Ростов-на-Дону             25.0
7            Самара             26.0
8               Уфа             26.0
9         Краснодар             30.0
10          Воронеж             32.0
11      Новосибирск             35.0
12  Нижний Новгород             36.0
13     Екатеринбург             39.0
14  Санкт-Петербург             42.0
15           Москва             54.0
16            Total            485.0

***

In [40]:
# выводы по анализу работодателей
# 1. По количеству вакансий с большим отрывом лидирует Яндекс. 
# 2. Вакансии Яндекса представлены во всех городах-миллионниках в количестве не менее 20. 
# 3. ТОП-3 самых распространенных по регионам работодателей (представлены в более чем 100 регионах): 1) Яндекс 2) Ростелеком 3) Спецремонт 
# 4. Примерно у каждой шестой вакансии не указана сфера деятельности.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [41]:
# текст запроса
query_6_1 = '''select count(*)
                from vacancies
                where name ilike '%data%' or name ilike '%данн%'
            '''

In [42]:
# результат запроса
answer_6_1 = pd.read_sql_query(query_6_1, connection)
answer_6_1

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1685889629.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_1 = pd.read_sql_query(query_6_1, connection)

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [43]:
query_6_2 = ''' select count(*)
                from vacancies
                where
                (
                lower(name) like '%data scientist%'  or
                lower(name) like '%data science%' or
                lower(name) like '%исследователь данных%'  or
                (lower(name) ilike '%ML%' and lower(name) not ilike '%HTML%')  or
                lower(name) like '%machine learning%'  or
                lower(name) like '%машинн%обучен%'
                )
                and
                (
                lower(name) like '%junior%' or
                experience = 'Нет опыта' or
                lower(employment) like '%стажировка%'
                )
            '''

In [44]:
answer_6_2 = pd.read_sql_query(query_6_2, connection)
answer_6_2

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\4140246696.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_2 = pd.read_sql_query(query_6_2, connection)

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [45]:
query_6_3 = ''' select count(*)
                from vacancies
                where
                (
                name ilike '%data scientist%'  or
                name ilike '%data science%' or
                name ilike '%исследователь данных%'  or
                (name like '%ML%' and name not like '%HTML%')  or
                name ilike '%machine learning%'  or
                name ilike '%машинн%обучен%'
                )
                and
                (
                key_skills ilike '%SQL%' or
                key_skills ilike '%postgres%'
                )
            '''

In [46]:
answer_6_3 = pd.read_sql_query(query_6_3, connection)
answer_6_3

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1417771425.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_3 = pd.read_sql_query(query_6_3, connection)

   count
0    201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [47]:
query_6_4 = ''' select count(*)
                from vacancies
                where
                (
                name ilike '%data scientist%'  or
                name ilike '%data science%' or
                name ilike '%исследователь данных%'  or
                (name like '%ML%' and name not like '%HTML%')  or
                name ilike '%machine learning%'  or
                name ilike '%машинн%обучен%'
                )
                and
                (
                key_skills ilike '%Python%'
                )
            '''

In [48]:
answer_6_4 = pd.read_sql_query(query_6_4, connection)
answer_6_4

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\1713433382.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_4 = pd.read_sql_query(query_6_4, connection)

   count
0    351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [49]:
query_6_5 = ''' SELECT ROUND(AVG((LENGTH(key_skills) - LENGTH(replace(key_skills,CHR(9),'')))::integer+1), 2) as result
                FROM vacancies
                WHERE (
                name ILIKE '%data scientist%' OR
                name ILIKE '%data science%' OR
                name ILIKE '%исследователь данных%' OR
                name ILIKE '%машинн%обучен%' OR
                name ILIKE '%machine learning%' OR
                name LIKE '%ML%' AND name NOT LIKE '%HTML%')

                AND

                key_skills IS NOT NULL
                
            '''

In [50]:
answer_6_5 = pd.read_sql_query(query_6_5, connection)
answer_6_5

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\252717723.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_5 = pd.read_sql_query(query_6_5, connection)

   result
0    6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [51]:

query_6_6 = ''' SELECT experience,
                ROUND(AVG(coalesce(salary_from, salary_to)/2+coalesce(salary_to, salary_from)/2), 0)
                FROM vacancies
                WHERE (
                    name ILIKE '%data scientist%' OR
                    name ILIKE '%data science%' OR
                    name ILIKE '%исследователь данных%' OR
                    name ILIKE '%machine learning%' OR
                    name ILIKE '%машинн%обучен%' OR
                    ((name LIKE '%ML%') AND (name NOT LIKE '%HTML%'))
                    )
                    AND ((salary_from IS NOT NULL) OR (salary_to IS NOT NULL))
                    GROUP BY (experience)
                
            '''

In [52]:
answer_6_6 = pd.read_sql_query(query_6_6, connection)
answer_6_6

C:\Users\Алексей\AppData\Local\Temp\ipykernel_12488\4219046839.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_6 = pd.read_sql_query(query_6_6, connection)

           experience     round
0           Нет опыта   74643.0
1  От 1 года до 3 лет  139675.0
2       От 3 до 6 лет  243115.0

***

In [53]:
# 1. Среди 1771 вакансии, имеющих одношение к данным, начинающему DS-специалисту подойдет лишь 51.
# 2. Python является одним из самых популярных скиллов, которым должен обладать джуниор-DS по мнению работадателей, но далеко не единственным - более шести навыков 
# в среднем прописано в вакансиях. 
# 3. Вполне логично, что средняя зарплата возрастает с опытом работы, интересно, то возрастание практически кратное (почти х2 с опытом от 1 года до 3, и х3 от 3 лет до 6, 
# относительно вакансий для неопытных соискателей)

# Общий вывод по проекту

In [54]:
import numpy as np
import plotly
import plotly.express as px

#   Проанализировав почти 50 тысяч вакансий можно сказать, что они имеют широкую географию, а также большой ассортимент работодателей (23501 работодатель присутствует в данной базе).

#   Немногим более половины всех вакансий размещены без указания уровня заработной платы. 
# Это может быть связано с желанием работодателей оценить уровень соискателя на собеседовании, прежде чем предложить уровень оплаты труда.

#   Более 30% работодателей не указывают сферу деятельности, это может затруднить поиск желаемых вакансий соискателям, т.к. в выборку вакансий по сфере деятельности эти 
# работодатели не войдут

---
---

## Дополнительное исследование

Ранее нами был создан запрос, который выводит количество вакансий для каждого сочетания типа рабочего графика и типа трудоустройства, используемого в вакансиях (Задание 4.4).

Таблица трудночитаема, т.к. получилось много сочетаний типов рабочего графика с типами трудоустройства.

Для более легкого понимания этих сочетаний изобразим эту таблицу в виде диаграммы:

In [55]:
fig = px.bar(
    df_4_4,
    x='count',
    y='schedule',
    color='employment',
    labels= {'schedule' :'Тип графика', 'count' : 'Количество', 'employment' : 'Тип трудоустройства'},
    title= 'Соотношение занятости и графика работы'
)
fig.show()

* Диаграмма дает четкое понимание структуры изображаемой таблицы - есть 5 типов графика работы, а также 4 типа трудоустройства.

* Самым популярным у работодателей является полная занятость с устройством на полный день. Таких вакансий более 35 тысяч.

* Желание работодателей найти сотрудника на частичную занятость больше всего просматривается в вакансиях на удаленную работу. 

* Работа вахтовым методом в принципе не предполагает какой-либо другой тип занятости, кроме полной.

Также можно отметить, что общее число вакансий на удаленную работу превышает количество вакансий с гибким и сменным графиками, и вахтовым методом вместе взятыми.

---
---
Закрываем соединение

In [56]:
connection.close()